.navbar-custom {
	color:#ffffff;
	border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
	color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color:transparent;
}
.navbar-custom .navbar-brand {
	color:#eeeeee;
}

#card-qtd {
	padding: 2px;
}
