{{set . "title"  "Events"}}
{{template "header.html" .}}
<div class ="container">
	<div class ="container-fluid">
		<div class = "well well-lg">
			<h1>Nome : {{.event.Title}}</h1>
			<p class="list-group-item-text">detalhes : {{.event.Detail}}</p>
			<p class="list-group-item-text">Date: {{.event.Date}}</p>
			{{if .tickets}}
			<div>
				<h1>Ingressos</h1>
				<div class="row" style="color:blue">
					<div class="col-sm-2">Preço</div>
					<div class="col-sm-2">Restando</div>
					<div class="col-sm-2">Categoria</div>
				</div>
				{{range .tickets}}
				<div class="row">
					<div class="col-sm-2">{{.Cost}}</div>
					<div class="col-sm-2">{{.Amount}}</div>
					<div class="col-sm-2">{{.Cat}}</div>
					<form class="buy" >
						<div class="col-sm-2">
							<input class="form-control"
							type="number" name="quat" placeholder="quant">
							<input type="hidden" value="{{.Id.Hex}}">
						</div>
						<button class="col-sm-4 btn btn-success">
							Comprar
						</button>
					</form>
				</div>
				{{end}}
			</div>
			{{else}}
				<div>Esse evento não tem Ingressos</div>
			{{end}}
		</div>
		<a href="/">back to Index </a>
	</div>
</div>
{{template "footer.html". }}
