{{set . "title" "Criar Evento"}}
{{template "header.html" .}}

<div class="container">
	<div class="row">
		<div class="span6">
			{{template "flash.html" .}}
			{{$event := .event}}
			<form method="post" action="{{url "Events.Create"}}" class="form-login">
				<input type="hidden" name="id" value="{{$event.Id.Hex}}">
				<h2 class="form-signin-heading">Registrar Evento</h2>
				{{with $field := field "event.Title" .}}
				<input type="text" name="{{$field.Name}}" value="{{$event.Title}}" class="input-block-level" placeholder="nome">
				{{end}}
				{{with $field := field "event.Detail" .}}
				<input type="text" name="{{$field.Name}}" value="{{$event.Detail}}" class="input-block-level" placeholder="detalhes">
				{{end}}
				{{with $field := field "event.Date" .}}
				<input type="datetime-local" name="{{$field.Name}}" value="{{$event.Date}}"class="input-block-level" value="">
				{{end}}
				<button class="btn btn-large btn-primary" type="submit">Postar</button>
				<a href="/" class="btn btn-large" >Voltar</a>
			</form>
		</div>
	</div>
</div>
{{template "footer.html" .}}
