{{set . "title" "Lancar Ingressos"}}
{{template "header.html" .}}

<div class="container">
	<div class="row">
		<div class="span6">
			{{template "flash.html" .}}
			<form method="get" action="{{url "Tickets.Create"}}" class="form-login">
				<h2 class="form-signin-heading">Adicionar Ingressos</h2>
				<input type="number" name="amount" class="input-block-level" placeholder="quantidade">
				<input type="number" step="0.01" name="cost" class="input-block-level" placeholder="preço">

				<label for="Eventos">Eventos</label>
				<select name="eventid" id="eventos">
					{{range .events}}
					<option value="{{.Id.Hex}}">{{.Title}}</option>
					{{end}}
				</select>
				<label for="Categorias">Categorias</label>
				<select name="cat" id="eventos">
					<option value="simples">simples</option>
					<option value="camarote">camaratote</option>
					<option value="vip">vip</option>
				</select>
				<button class="btn btn-large btn-primary" type="submit">Gravar</button>
				<a href="/" class="btn btn-large" >Voltar</a>
			</form>
		</div>
	</div>
</div>
{{template "footer.html" .}}
