{{set . "title" "Home"}}
{{template "header.html" .}}
<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="span6">
        {{template "flash.html" .}}
        {{$user := .user}}
        {{range .events}}
        <div class="list-group">
          <a href="/events/{{.Id.Hex}}"
             class="list-group-item active">
            <h4 class="list-group-item-heading">{{.Title}}</h4>
          </a>

          {{if $user }}
          <a href="/events/{{.Id.Hex}}">editar</a>
          <a href="/events/remove/{{.Id.Hex}}">remover</a>
          {{end}}
          <p class="list-group-item-text">{{.Detail}}</p>
          <p class="list-group-item-text">{{.Date}}</p>
					{{if $user}}
          <a href="/events/comprar/{{.Id.Hex}}">comprar</a>
					{{end}}
        </div>
        {{end}}
      </div>
    </div>
  </div>
</div>

{{template "footer.html" .}}
