{{set . "title" "Carrinhos"}}
{{template "header.html" .}}

<div class="container">
	<div class ="container-fluid">
		<div class = "well well-lg">
			{{template "flash.html" .}}
			<h1>Dados da Compra</h1>
			<div>
				<h2>Dados do User</h2>
				<div>Nome : {{.user.Name}} </div>
				<div>Email : {{.user.Email}} </div>
				<div>CPF : {{.user.Cpf}} </div>
			</div>
				<h3>Total da compra</h3>
				<div>Valor total : {{.card.Total}}</div>
				<div> Total : {{.qtd}}</div>
				<div class="btn-group-vertical" role="group" aria-label="...">
					<a id="finish" href="/card/finish/{{.card.Id.Hex}}" target="_blank" class="btn btn-primary" />finalizar compra</a>
					<a href="/card/remove/{{.card.Id.Hex}}" class="btn btn-warning"/>cancelar</a>
					<a href="/" class="btn btn-success"/>Continuar Compando</a>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "footer.html" .}}
