<!DOCTYPE html>

<html>
	<head>
		<title>{{.title}}</title>
		<meta http-equiv="Content-Type"
				content="text/html; charset=utf-8">
		<link rel="stylesheet"
				type="text/css"
		href="/public/css/main.css">

		<link rel="stylesheet"
				type="text/css"
		href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet"
				type="text/css"
		href="/public/bower_components/bootstrap/dist/css/bootstrap-theme.min.css.map">

		<link rel="shortcut icon"
				type="image/png" href="/public/img/favicon.png">
		<script src="/public/bower_components/jquery/dist/jquery.min.js"
					type="text/javascript" charset="utf-8">
		</script>
		<script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"
					type="text/javascript" charset="utf-8">
		</script>
	</head>
	<body>
		<header class="hero-unit">
			<div class="container">
				<div class="row">
					<div class="hero-text">
						<nav class="navbar navbar-defaulti navbar-custom">
							<ul class="nav nav-tabs">
								<li role="presentation"><a href="/">Home </a></li>
								{{if not .session.user}}
								<li role="presentation"><a href="/login">Login </a></li>
								<li role="presentation"><a href="/registrar">Registrar</a></li>
								{{else}}
								<li role="presentation"><a href="/events/">Criar Eventos</a></li>
								<li role="presentation"><a href="/tickets/">Adicionar Ingressos</a></li>
								<li role="presentation">
									<a href="/card/">
										<button id="card" class="btn" >
											<span class="glyphicon glyphicon-shopping-cart">
											<i id="card-qtd"></i>
											</span>
											Carrinho
										</button>
									</a>
								</li>
								<li role="presentation"><a href="/logout/">LogOut</a></li>
								{{end}}
								<form class="navbar-form" action="/" method="GET"	role="search">
									<input type="text" class="form-control" name="q" placeholder="Search"/>
									<button class="btn btn-info">
										buscar
									</button>
								</form>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
